/* CSS files --> abilities.html */
body{
    background-color: #ffcf66; /* ปรับสีbackground */
    font-family: Arial, Helvetica, sans-serif; /* เปลี่ยนfontของตัวอักษรใน table-menu */
}
.table-menu{
    width:100%;  /* ความกว้าง */
    text-align: center; /* ปรับตัวอักษรไปตรงกลาง */
    background-color: rgb(47, 13, 54); /* ปรับสีbackground */
} 
table{
    height: 100%; /* ความสูง */
    padding: 30px;/* ปรับความกว้างในclass*/
    margin: 20px;/* ปรับขอบของclass*/
    color: rgb(47, 13, 54);/* ปรับสีตัวอักษร */
    background-color: antiquewhite;/* ปรับสีbackground */
    display: flex;/* ทำให้classนี้เป็น flexbox เพื่อช่วยในการจัดเรียง element ต่างๆได้แบบ responsive */
    justify-content: center;/* ใช้ร่วมกับflexbox ปรับ element ต่างๆให้อยู่ตรงกลางแบบแนวนอน*/
    align-items: center;/* ใช้ร่วมกับflexbox ปรับ element ต่างๆให้อยู่ตรงกลางแบบแนวตั้ง */
}

.title{
    margin: 20px;/* ปรับขอบของclass*/
    text-align: center;/* ปรับตัวอักษรไปตรงกลาง */
    background-color: antiquewhite;/* ปรับสีbackground */

}

.p-Footer{/* ปรับclass p-Footer */
    background-color: rgb(32, 32, 32);/* ปรับสี background*/
    color: aliceblue;/* ปรับสีตัวอักษร */
    text-align: center;/* ปรับตัวอักษรไปตรงกลาง */
    padding: 20px;/* ปรับขนาดขอบของ p-Footer */
    bottom: 0;/* ปรับตำแหน่งให้อยู่ชิดล่างสุดของจอ */
    position: absolute;/* ปรับตำแหน่งให้อยู่ชิดล่างสุดของจอ */
    width: 100%; /* ความกว้าง */
}